body {
    background-color: #111111; /* Replace with your desired background color */
    font-family: 'Roboto', sans-serif; /* Use the desired font family */
}
h1 {
    color: #FFC107;
}
h2 {
    color: #1E88E5;
}
p, ul { 
    color: #FFFFFF;
    padding-left: 20px;
}
a {
    color: #FFC107;
    padding-left: 20px;
}
.rounded-image {
    border-radius: 20px; /* Adjust the value to control the roundness */
}
